#Navbar{
    background-color: #333;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    border-radius: 10px;
}

#Titolo{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 30px;
}
#ImmagineScorrevole{
    padding-left: 5%;
    padding-right: 5%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background color: #333;
}
ul.topnav li{
    float: left;
}
ul.topnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active){
    background-color: #111;
}
ul.topnav li a.active {
    background-color: #4CAF50
}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {
        float:none;
    }
}

body{
    font-family: 'Pattaya';
    background-color: c6f995;
    margin: 0;
}

img {
    width: 100%;
    animation: fading 9s infinite;
}
@keyframes fading{
    0%{
        opacity:0
    }
    50%{
        opacity:1
    }
    100%{
        opacity:0
    }
}
    